body {
  background-color: black;
  background-image: url("img/tawerna.jpg");
  font-family: "Lobster", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas {
  background-color: #1a1a1a;
  width: 900px;
  height: 500px;
  border: 4px solid #dea233;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 3px;
}

.comment {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  font-size: 31px;
  background-color: #231717c2;
  opacity: 0;
  transition: 0.2s;
  padding: 10px 20px;
  max-width: max-content;
  margin: 20px auto;
  border-radius: 2px;
}

h1 {
  font-size: 54px;
  color: rgb(255, 255, 255);
  margin: 10px 0 0 0;
  text-align: center;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: 400;
}

header span {
  display: block;
  font-size: 27px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

.diff-levels {
  position: relative;
  top: -410px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 39px;
}

.level {
  margin-bottom: 12px;
  transition: 0.2s;
  cursor: pointer;
}

#level2 {
  color: #f2a3a3;
}

#level3 {
  color: #f23e3e;
}

#level4 {
  color: #cf0000;
}

.level:hover {
  color: #f7b53b !important;
}

.controls {
  padding: 0 10% 0 10%;
}

@media only screen and (min-width: 1100px) {
  .controls {
    padding: 0 10% 0 10%;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1600px) {
  .controls {
    padding: 0 22% 0 22%;
  }
}

.controls button {
  width: 18%;
  margin: 20px 1% 10px 1%;
  padding: 5px;
  color: #fff;
  background-color: #231717c2;
  border-style: none;
  cursor: pointer;
  font-family: "Lobster", sans-serif;
  transition: 0.2s;
  border-radius: 2px;
  font-size: 16px;
}

.controls button:hover {
  background-color: #ffffff46 !important;
}

.comment div {
  background-color: #cf0000;
  border-radius: 2px;
  padding: 10px 20px;
  max-width: fit-content;
  margin: 20px auto;
  transition: 0.2s;
}

.comment div a {
  text-decoration: none;
  color: #fff;
}

.comment div:hover {
  background-color: #df1717f2;
}

.back {
  position: fixed;
  top: 20px;
  left: 15px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.back:hover {
  color: rgb(185, 255, 73);
}
